<div data-controller="clipboard">
  PIN: <input data-clipboard-target="source" value="https://www.example.com" type="text" readonly>
  <button data-action="clipboard#copy">Copy to Clipboard</button>
</div>

<div data-controller="clipboard">
  PIN: <input data-clipboard-target="source" value="https://www.taikohub.com" type="text" readonly>
  <button data-action="clipboard#copy">Copy to Clipboard</button>
</div>

<div data-controller="clipboard">
  PIN: <input type="text" data-clipboard-target="source" value="https://www.transactify.me" readonly>
  <a href="#" data-action="clipboard#copy">Copy to Clipboard</a>
</div>

<div data-controller="clipboard">
  PIN: <textarea data-clipboard-target="source" cols="30" rows="10">https://bento.codes</textarea>
  <a href="#" data-action="clipboard#copy">Copy to Clipboard</a>
</div>





